Library
Temp
obj
Logs
UserSettings
ServerData
COABuild
.vshistory
*.sln
*.csproj
*.csproj.DotSettings
*.userprefs

*.apk
*.symbols.zip

.vs
.idea

xcodeproject

**/Assets/UnityVS*

### Exception for DLL
!**/Assets/**/*.dll

### 임시작업공간
Assets/_NoUpload.meta
Assets/_NoUpload/

Build_*/